{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row flex-nowrap mt-0">
        <div class="col-auto col-md-2 col-xl-2 px-sm-2 px-0 teal-color beige-color">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mt-5 align-items-center align-items-sm-right" id="menu"
                    style="width: 100%;">
                    <li class="nav-item sidebar-item">
                        <a href="{% url 'home' %}" class="nav-link align-middle px-0">
                            <i class="fas fa-chart-line"></i><span class="ms-1 d-none d-sm-inline">&nbsp; Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item sidebar-item">
                        <a href="{% url 'userprofile' %}" class="nav-link align-middle px-0">
                            <i class="fas fa-id-card"></i><span class="ms-1 d-none d-sm-inline">&nbsp; My Profile</span>
                        </a>
                    </li>
                    {% if request.user.is_superuser and request.user.is_staff %}
                    <li class="nav-item sidebar-item">
                        <a href="{% url 'employees' %}" class="nav-link align-middle px-0">
                            <i class="fas fa-user"></i><span class="ms-1 d-none d-sm-inline">&nbsp; All Employees</span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item sidebar-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fas fa-plane-departure"></i><span class="ms-1 d-none d-sm-inline">&nbsp; Leaves</span>
                        </a>
                    </li>
                    <li class="nav-item sidebar-item">
                        <a href="{% url 'birthdays' %}" class="nav-link align-middle px-0">
                            <i class="fas fa-birthday-cake"></i><span class="ms-1 d-none d-sm-inline">&nbsp; Birthdays</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10 padding-0 dahsboard-color">
            <div class="home-logo">
                <i class="fas fa-users-cog logo"></i>
            </div>
            <div class="home-tile">
                <h1 class="title"><a href="">WELCOME TO HR</a></h1>
            </div>
        </div> 
    </div>
</div>
{% endblock %}