html, body{
    padding: 0;
    height: 100%;
    margin: 0;
    max-width: 100%;
}

.dahsboard-color{
    background-color:#F2DEBA; 
}

.dahsboard-color{
    background-color:#F2DEBA; 
}

.btn-black {
    background: black;
    color: white;
}

.teal-color{
    background-color: #0E5E6F;
}

.table-title{
    color: #0E5E6F;
    font-size: 40px;
}


.add-information{
    text-decoration: none;
    color: #820000;
}

.btn-submit{
    background-color: #0E5E6F;
    color:#F2DEBA; 
    width: 200px;
    margin: 0 auto;
    padding: 10px;
}

.beige-color{
    color:#F2DEBA;
}

.text-black {
    color: #000 !important;
}

.logo-font {
    text-transform: uppercase;
}

.logo-font {
    text-transform: uppercase;
}

.bg-black {
    background: #000 !important;
}

.main-logo-link:hover {
    text-decoration: none;
}

.main-logo{
    font-size: 30px;
}

.textinput, .select, .dateinput, .emailinput, .numberinput, .regionalphonenumberwidget, .datetimefield {
    border: 1px solid #0E5E6F;
}

.table{
    -webkit-box-shadow:rgba(14,94,111, 0.16) 0px 3px 10px, rgba(14,94,111,0.23) 0px 3px 10px;
    box-shadow :rgba(14,94,111, 0.25) 0px 3px 10px, rgba(14,94,111,0.40) 0px 3px 10px;
}

.table, .table th, .table td{
    border: none!important;
}

.sidebar-item a{
    text-decoration: none;
    color:#F2DEBA;
    font-size: 20px;
    text-align: center;
    padding: 25px;
}
.sidebar-item a:hover{
    color:#F2DEBA;
}
.nav-pills{
    text-align: center!important;
}
.container-fluid{
    margin: 0;
    padding: 0;
}

/* ------------------------------
       DASHBOARD CONFIGURATION
--------------------------------*/

.home{
    min-width: 100%;
    height: auto;
}

.home-logo{
    text-align: center;
    font-size: 200px;
    margin-top: 30px;
    color: #0E5E6F;
}

.home-tile{
    min-width: 100%;
    margin-top: 30px;
}

.title { 
    text-align: center;
    color: #F2DEBA;
    text-transform: uppercase;
    padding: 1px;
    font-family: 'Raleway', cursive;
    font-weight: 100;
    position: relative;
    background: linear-gradient(to right, #0E5E6F, #F2DEBA, #0E5E6F);
}
.title::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -50px;
    width: 600px;
    margin-left: -300px;
    margin-top: -220px;
    height: 600px;
    background: radial-gradient(50% 50%, ellipse closest-side, #F2DEBA, #0E5E6F);
    z-index: -1;
}

.title a {
    background: #0E5E6F;
    display: block;
    padding: 20px;
    text-decoration: none;
    letter-spacing: 30px;
    color: #F2DEBA;
    animation: comein 1.5s 1 ease-in-out forwards;
  }

@keyframes comein {
    0% {
      letter-spacing: 80px;
      color: #F2DEBA;
    }
    70% {
      letter-spacing: 20px;
    }
    100% {
      letter-spacing: 25px;
      color: #F2DEBA;
    }
  }

  .form-wrapper::-webkit-scrollbar,
  #list-tab::-webkit-scrollbar,
  ul::-webkit-scrollbar,
  .no-scroll::-webkit-scrollbar,
  .scroll-form::-webkit-scrollbar{
      display: none;
  }

  .scroll-form{
    overflow: scroll;
    max-height: 80vh;
 }
 

 .btn-profile, .btn-profile:hover{
    width:95%;
    background-color: #F2DEBA;
    margin: 10px;
    color: #0E5E6F;
    font-size: 20px;
}

.no-information{
    font-size: 30px;
    color: #F2DEBA;
    text-align: center;
}