{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="EM-Commerce">
    <meta name="keywords"
        content="clothes, computing, phones, tablets, home appliances, furniture, buy, sell, online shop, gaming">
    <meta name="author" content="Mihai Elisei">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/69d5e813c2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>
         <!-- Flatpikr -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>HR-App {% block extra_title %}{% endblock %}</title>

<body>
    <!-- Header Section -->
    <header class="container-fluid">
        <div class="row">
            <div class="col-{% if user.is_authenticated %}3{% else %}9{% endif %}">
                <div class="mx-3 pl-5">
                    <a href="#" class="main-logo-link logo-font text-black main-logo">
                        {% block navbar-content %}
                        <i class="fas fa-users-cog"></i>&nbsp;&nbsp;HR-APP
                        {% endblock navbar-content %}
                    </a>
                </div>
            </div>
            {% if user.is_authenticated %}
            {% if request.user.is_superuser %}
            <div class="col-6">
                <nav class="navbar navbar-expand-lg">
                    <ul class="navbar-nav mr-auto mx-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle  text-black" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                              Users
                            </a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="{% url 'create_user' %}">Create User</a>
                              <a class="dropdown-item" href="{% url 'all_users' %}">All Users</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle  text-black" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                Leave
                            </a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Apply For Leave</a>
                              <a class="dropdown-item" href="#">Approved Leaves</a>
                              <a class="dropdown-item" href="#">Rejected Leaves</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle  text-black" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                Employee
                            </a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="{% url 'create_employee' %}">Add Employee</a>
                              <a class="dropdown-item" href="{% url 'employees' %}">All Employees</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'emergency_form' %}">Add Emergency Details</a>
                              <a class="dropdown-item" href="{% url 'family_form' %}">Add Family Details</a>
                              <a class="dropdown-item" href="{% url 'bank_form' %}">Add Bank Account Details</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            {% endif %}
            {% endif %}
            <div class="col-3">
                {% if user.is_authenticated %}
                <div class="row ">
                    <div class="col-6 ">
                        <p class="pt-3">You are logged in as: <span>{{ request.user }}</span></p>
                    </div>
                    <div class="col-6">
                        <a href="{% url 'account_logout' %}" class="btn btn-md p-3" id="btn-nav">Logout</a>
                    </div>
                </div>
                {% else %}
                <a href="{% url 'account_login' %}" class="btn btn-md" id="btn-nav">Login</a>
                {% endif %}
            </div>
        </div>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">

    </div>
    {% endif %}

    <!-- Block Contents -->
    {% block content %}
    {% endblock %}



    {% block postloadjs %}
   
    {% endblock %}

</body>

</html>